

.icon{
    position: fixed;
    top: 0px;
    right: 0px;

}


.tooltip-content{
    visibility: hidden;
    background-color: black;
    color: white;
    position: absolute;
    padding: 10px;
    z-index: 1;
}


.icon:hover + .tooltip-content {
    visibility: visible;
    position: fixed;
    top: 30px;
}


.content{
    position:relative;

} 